<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Treatments</title>

    <style>

    body{
      background-image: url("{{ url_for('static', filename='b5.jpeg') }}");
      background-size: 2100px 1140px;
      background-repeat: no-repeat
    }

	</style>

  </head>
  <body>

    <header>
      <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
  
  
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="">
              <a href="/index" class="navbar-brand text-white text-white"><b>Home</b></a>
            </div>
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
            </a>
  
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
  
             <!--- <li><a href="/" class="nav-link text-white">Home</a></li>
              <li><a href="/crops" class="nav-link text-secondary">Crops</a></li>
              <li><a href="/machine" class="nav-link text-white">Machineries</a></li>
              <li><a href="/contactUs" class="nav-link text-white">Contact Us</a></li> -->
  
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3" style = "font-family:georgia,garamond,serif;">Treatment of Osteoporosis Disease</h1>
          <p style = "font-size:18px;">Osteoporosis is a condition that affects the bones, causing them to become weak and brittle. This can lead to an increased risk of fractures, particularly in the hip, spine, and wrist. There are several treatments available for osteoporosis, including:Osteoporosis is a condition that affects the bones, causing them to become weak and brittle. This can lead to an increased risk of fractures, particularly in the hip, spine, and wrist. There are several treatments available below.</p>
          <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
      </div>

      <div class="container bg-1">
        <!-- Example row of columns -->
        <div class="row">
       
          <div class="col-md-3">
            <h2 style = "font-family:georgia,garamond,serif;">Medications</h2>
            <p style = "font-size:18px;">Several medications can help to slow down bone loss, increase bone density, and reduce the risk of fractures. These include bisphosphonates, hormone therapy, denosumab, and teriparatide. </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-md-3">
            <h2 style = "font-family:georgia,garamond,serif;">Exercises</h2>
            <p style = "font-size:18px;">Regular exercise can reduce the likelihood of bone fractures in people with osteoporosis. Some of the recommended exercises include:
              Weight-bearing exercises - walking, jogging, playing tennis, dancing.
              Resistance exercises -- free weights, weight machines, stretch bands.
              Postural retraining-Improve core muscle strength, extensor muscles (back)</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-md-3">
            <h2 style = "font-family:georgia,garamond,serif;">Fall prevention</h2>
            <p style = "font-size:18px;">Avoid sedating medications.
              Remove household hazards to reduce the risk of fractures.
              Make sure your vision is good.
              Wear a hip protectors or hip pads for added protection.
              Install grab bars on the bathroom walls beside the tub,shower and toilet.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>

          <div class="col-md-3">
            <h2 style = "font-family:georgia,garamond,serif;">Diet</h2>
            <p style = "font-size:18px;">Getting more calcium-1200 mg a day for women and 1,000 mg for men--is key for bone building. Milk, yogurt, cheese, broccoli and sardines are all great sources. If you're not big on dairy, a calcium supplement can fill in the gap. Vitamin D helps your body absorb calcium, and you can get it through sunlight and foods such as vitamin-D fortified milk and fatty fish. If your vitamin D levels are low (your doctor can check with a blood test), take a supplement. Beyond those vitamins, eating a Mediterranean-based diet (lean meats, veggies, fruit, nuts, and olive oil) may reduce hip bone loss in one year, according to research.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>

        </div>
        <hr>

    </div> <!-- /container -->
  
  </main>
  
  <footer class="container">
    <!-- <p>&copy; Company 1817-1818</p> -->
  </footer>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper-base.min.js" integrity="sha384-gMOTfRMlP7eHT/9SSXyjTvG1nNzLYngH6PQ8Nv7iF2QI6C4F6ODq4X04yB6TssbM" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>